//
//  FixWarnings.xcconfig
//  Inventario
//
//  Created for Inventario project.
//

// Inibir avisos de código C++
GCC_WARN_INHIBIT_ALL_WARNINGS = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = NO
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = NO
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO

// Suprimir avisos de análise e documentação
CLANG_WARN_DOCUMENTATION_COMMENTS = NO 
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES

// Configurações específicas para o Hermes
CLANG_CXX_LANGUAGE_STANDARD = c++20
DEAD_CODE_STRIPPING = YES
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO
CLANG_WARN_STRICT_PROTOTYPES = NO
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = NO

// Otimizações de build
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
CLANG_ENABLE_MODULES = YES
ENABLE_BITCODE = NO

// Silenciar outros avisos comuns
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
